<div class="twf-banner-container">
  <div class="twf-banner-text-container"> 
      <div class="twf-banner-text-wrapper">
    <h1 class="twf-banner-text-heading">Scandinavian Design Homeware and Accessories.</h1>
        <div class="twf-secondary-button">
          <h3 class="twf-banner-btn-text">Shop Now</h3>
        </div>
         </div>
 
  </div>

      <div class="twf-banner-image-container"> 
  </div>

 
 
  
  
</div>






{% schema %}
{
  "name": "Banner",
  "settings": [
  {
      "type": "image_picker",
      "id": "banner",
      "label": "Logo image"
    },
  {
    "id": "text-box-title",
    "type": "text",
    "label": "Heading",
    "default": "terst here"
  },
  {
    "id": "text-box-content",
    "type": "richtext",
    "label": "Add custon m",
    "default": "<p>terst here</p>"

  }

  ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
